# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# MacOS files
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Python package metadata
*.egg-info/
*.egg
*.pyo

# Caches
*.mypy_cache/
*.pytest_cache/
*.hypothesis/

# Coverage reports
htmlcov/
.coverage
*.cover
*.coverage.*

# Temporary files
*.bak
*.swp
*.tmp
*.temp
*.old

# Environment files
.env
.venv

# IDE files
.vscode/
.idea/

# Build files
build/
dist/
*.spec

# GitHub Actions
.github/

# Misc
*.iml
